.full-width {
    width: 100%;
}

.chart-card {
    width: 400px;
    max-width: 90%; 
    min-height: auto;
    padding: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.chart-card mat-card {
    width: 100%; 
    text-align: center;
    padding: 10px;
}

.chart-card img {
    width: 100%; 
    height: auto; 
    max-height: 400px; 
    border-radius: 10px;
}

.chart-card .mat-card-actions {
    display: flex;
    justify-content: center;
}
